<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anubhav.modern">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.READ_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission-sdk-23 android:name="android.permission.READ_PROFILE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_CONTACTS" />
    <uses-permission-sdk-23 android:name="android.permission.READ_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity
            android:name="com.example.anubhav.SurrajKathuriaClothing.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.anubhav.SurrajKathuriaClothing.VisibleActivities.Login"
            android:label="Log In"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.example.anubhav.SurrajKathuriaClothing.VisibleActivities.GetDetailsActivity"
            android:screenOrientation="portrait"
            android:label="Tell us more"
            />

        <receiver
            android:name="com.example.anubhav.SurrajKathuriaClothing.BroadcastRecievers.ConnectivityBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.example.anubhav.SurrajKathuriaClothing.VisibleActivities.OtpManual"
            android:label="Enter OTP"
            />

        <service
            android:name="com.example.anubhav.SurrajKathuriaClothing.Services.FirebaseCloudMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/for_footer_1"
            android:value="@color/colorPrimary" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />



    </application>

</manifest>